
section {
	text-align: center;
	display: block;
	height: 400px;
	background-color: blue;
	width: 1200px;
	margin: auto;
}


div{
	width: 500px;
	display: inline-block;
	float: left;
	text-align: center;
	padding: 10px 30px;
}

img	{
	width: 350px;
	height:250px;	
}



.active	{
	background-color: blue;
}

