
body {
    background-color: lightgray;
	text-align: center;
	width: 100%;
	margin: auto;
	margin: 0;
	padding: 0;
}


nav ul	{
	background-color: grey;
	border: 1px solid black;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	

}

li	{
	float: left;
	border-right: 1px solid darkgrey;
}

li:last-child {
    border-right: none;
}


li a	{
	display: block;
	color: white;
	padding: 10px 30px;
	background-color: green;
	text-decoration: none;
}

li a:hover:not(.active)	{
	background-color: black;
}

section {
	text-align: center;
	display: block;
	height: 400px;
	background-color: blue;
	width: 1200px;
	margin: auto;
}


div{
	width: 500px;
	display: inline-block;
	float: left;
	text-align: center;
	padding: 10px 30px;
}

img	{
	width: 350px;
	height:250px;	
}



.active	{
	background-color: blue;
}

