
body {
    background-color: #5d5c61;
    height: 100%;
    width:100%;
}


nav ul	{
	/* background-color: #4F8A82; */
	/* border: 1px solid black; */
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
}

li	{
	float: left;
	/* border-right: 1px solid #3B4A58; */
}

li:last-child {
    border-right: none;
}


li a	{
	display: block;
	color: #F5F1DD;
	padding: 10px 70px;
	/* background-color: #1F3B4B; */
	text-decoration: none;
}

li a:hover:not(.active)	{
	background-color: black;
}


.active	{
	background-color: #C8C598;
	color: black;
}
