html {
    height: 100%;
    margin: 0;
    padding:0;
}


body{
    display: flex;
    flex-direction: column;
}


.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}


.headerLeft, .headerCenter, .headerRight{
    display:flex;
    gap: 1.5rem;
    justify-content:center;
    align-items:center;
}

.footerLeft, .footerCenter, .footerRight{
    display:flex;
    gap: 1.5rem;
    justify-content:center;
    align-items:center;
}


.body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.body div{
    margin: .5rem;
    display:flex;
}

.skills{
    margin: .5rem;
    display:flex;
    flex-direction: column;
}


.about{

}

.languages{
    display: flex;
    flex-direction: column;
}

.technologies{
    display: flex;
    flex-direction: column;
}

.projects{
    display: flex;
    flex-direction: column;
}

.project{
    margin:.5rem;
    display: flex;
    flex-direction: column;

}

.blurb{
    display: flex;
    flex-direction: column;
}

