html {
    height: 100%;
    margin: 0;
    padding:0;
}


body{
    background: #6a6a6a;
    display: flex;
    flex-direction: column;
}


.header{


}

.body{
    background: red;
    display: flex;
    flex-direction: column;
}

.body div{
    margin: .5rem;
    display:flex;
}


.about{
    background:blue;

}

.languages{
    background:red;
    display: flex;
    flex-direction: column;
}

.projects{
    background:blue;
    display: flex;
    flex-direction: column;
}

.project{
    background:red;
    margin:.5rem;
    display: flex;
    flex-direction: column;

}

.blurb{
    background:red;
    display: flex;
    flex-direction: column;
}

